[user]
    name = Clemens Wolff
    email = clemens.wolff+git@gmail.com

[credential]
    helper = cache --timeout=43200

[core]
    editor = vim
    pager = less -R

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto

[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
    ci = commit --verbose
    ap = add --patch
    pr = pull --rebase --autostash
    ri = rebase -i origin/master --autostash
    p = push
    st = status
    co = checkout
    cb = checkout -b
    d = diff
    b = branch
    ds = diff --staged

[push]
    default = current

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "status"]
    added = yellow
    changed = green
    untracked = cyan
